.services-section {
  padding-top: 212px;
  padding-bottom: 50px;
  background-image: url("../../img/services-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.services-item {
  position: relative;
  display: block;
  padding: 87px 10px 90px;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08);
  background: var(--color-light);
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    border-radius: inherit;
    background-image: url("../../img/services-1.jpg");
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    border-radius: inherit;
    background-color: rgba(#1e212c, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  &__content {
    @include flex-column-center;
    position: relative;
    z-index: 10;
  }
  &__icon {
    margin-bottom: 23px;
    width: 52px;
    height: 52px;
    fill: var(--color-primary);
    object-fit: cover;
    transition: fit 0.3s ease-in-out;
  }
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: var(--color-ebony);
    transition: color 0.3s ease-in-out;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
}
